<html>
    <head>
        <title>Tower of hanoi</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Awadhesh Kumar">
        <meta name="application-name" content="Tower Of Hanoi">
        <meta name="description" content="Tower of hanoi game developed with simple html, bootstrap, angularjs">
        <meta name="keywords" content="mini project,tower of hanoi, minigame">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93355643-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-93355643-1');
        </script>
        <link rel="stylesheet" href="resources/lib/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="resources/css/custom.css"/>
        <link rel="stylesheet" href="resources/lib/font-awesome.min.css"/>
        <script type="text/javascript" src="resources/lib/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="resources/lib/angular.min.js"></script>
        <script type="text/javascript" src="resources/lib/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid fill playground p-0" ng-app="demo.home" ng-controller="HomeCtrl" ng-cloak>
                <div class="col-lg-12 game-header">
                    <h2>Tower of Hanoi</h2>
                </div>
                <div class="col-lg-12" ng-show="gameStatus=='START'">
                    <div class="row">
                        <div class="d-inline-block padd-b-15-mob-only text-lg-right text-md-right text-sm-right text-center text-right col-lg-4 col-md-4 col-sm-4 col-12">
                            <button type="button" class="btn btn-primary" ng-click="startGame()">New Game</button>
                        </div>
                        <div class="d-inline-block padd-b-15-mob-only text-center col-lg-4 col-md-4 col-sm-4 col-12">
                            <button type="button" class="btn btn-primary" ng-click="showCredit()">Credits</button>
                        </div>
                        <div class="d-inline-block padd-b-15-mob-only text-lg-left text-md-left text-sm-left text-center col-lg-4 col-md-4 col-sm-4 col-12">
                            <button type="button" class="btn btn-primary" ng-click="help()">Help</button>
                        </div>
                    </div>
                </div>
            <div class="col-lg-12" ng-show="gameStatus=='CREDIT'" ng-click='gotoHome()'>
                <input type="text" id="name" name="name" class="form-control" placeholder="Enter Your Name">
            </div>
            <div class="col-lg-12" ng-show="gameStatus=='HELP'" ng-click='gotoHome()'>
                <div class="card">
                    <div class="card-header">
                        Help
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Important Point for the Game</h5>
                        <p class="card-text">1. Goal of the game is to transfer disks from Peg-A to Peg-C.</p>
                        <p class="card-text">2. Maintain order in ascending order during movement.</p>
                        <p class="card-text">3. At any step if order of disk is incorrect then Game will over and game start from level 1.</p>
                        <button class="btn btn-primary" ng-click="gameStatus='START'">Back</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" ng-show="gameStatus=='GO'">
                <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-4 d-inline-block" ng-class="source=='A'?'active':''">
                        <div class="col-lg-12 pegs col-md-12 col-sm-12 col-xs-12 col-12 cursor-pointer padd-10-all" ng-click="clickPeg('A')">
                            <div class="col-lg-12 disk" ng-repeat="disk in peg.A track by $index"><div class=" disk{{disk}}" ng-class="disk==-1?($index==0?'top-disk':'no-disk'):''">{{disk}}</div></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-4 d-inline-block" ng-class="source=='B'?'active':''">
                        <div class="col-lg-12 pegs col-md-12 col-sm-12 col-xs-12 col-12 cursor-pointer padd-10-all" ng-click="clickPeg('B')">
                            <div class="col-lg-12 disk" ng-repeat="disk in peg.B track by $index"><div class=" disk{{disk}}" ng-class="disk==-1?($index==0?'top-disk':'no-disk'):''">{{disk}}</div></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-4 d-inline-block" ng-class="source=='C'?'active':''">
                        <div class="col-lg-12 pegs col-md-12 col-sm-12 col-xs-12 col-12 cursor-pointer padd-10-all" ng-click="clickPeg('C')">
                            <div class="col-lg-12 disk" ng-repeat="disk in peg.C track by $index"><div class=" disk{{disk}}" ng-class="disk==-1?($index==0?'top-disk':'no-disk'):''">{{disk}}</div></div>
                        </div>
                    </div>
                    <div class="col-lg-12 peg-bottom">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4"><b>A</b></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4"><b>B</b></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4"><b>C</b></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class='row game-over-msg marg-0-all' ng-show="gameStatus=='GAME OVER'">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-center">
                    <span class='game-over-msg'>Game Over</span>
                </div>  
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-center marg-t-40-all">
                    <button class="btn btn-primary" ng-click="restartGame()">Restart</button>
                </div> 
            </div>
            <div class='row game-over-msg marg-0-all' ng-show="gameStatus=='WIN'">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-center" ng-show='level!=maxLevel'>
                    <span class='level-win-msg'>Level Win</span>
                </div>  
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-center marg-t-40-all" ng-show='level!=maxLevel'>
                    <button class="btn btn-primary" ng-click="playNextLevel()">Play Next Level</button>
                </div> 
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-center" ng-show='level==maxLevel'>
                    <span class='game-win-msg'>Congratulations!<br/>You are winner of the game.</span>
                </div>  
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-center marg-t-40-all" ng-show='level==maxLevel'>
                    <button class="btn btn-primary" ng-click="restartGame()">Restart</button>
                </div> 
            </div>
        </div>
        <script type="text/javascript" src="resources/js/custom/util.js"></script>
        <script type="text/javascript" src="resources/js/custom/app.js"></script>
    </body>
</html>